<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <mat-card>
            <h1>Activitiy</h1>
            <p>stay active , stay humble and stay humble</p>
        </mat-card>
    </section>
    <section>
        <mat-card>
            <h1>Comunity</h1>
            <p>Get to know people who share passion</p>
        </mat-card>
    </section>
    <section>
        <mat-card>
            <h1>Chalenge</h1>
            <p>never stop ! dive into new chalenge every day</p>
        </mat-card>
    </section>
</div>